<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans">

<div class="menu">  
    <img src="https://res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_lossy,h_1440,w_720,f_auto,q_auto/v1/457961/logostrikingly_bb8die.png" class="logo" alt="">
    <vtb-menu [stickyAt]="300" [dataSource]="[{name: 'Programma', selector: '[data-block=program]'}, {name: 'Accommodatie', selector: '[data-block=accommodations]'}, {name: 'Investering', selector: '.overview'}, {name: 'Consultants', selector: '.consultants'}, {name: 'Contact', 'selector': '.social-media'}]"></vtb-menu>
</div>

<div class="header">
    <div class="header-text titles">
        <vtb-text [config]="{name: 'title', tag: 'h2', class: 'vtb-title'}" [dataSource]="itinerary"></vtb-text>
        <vtb-text [config]="{name: 'subTitle', tag: 'h1', class: 'vtb-sub-title'}" [dataSource]="itinerary"></vtb-text>
    </div>
    <vtb-media [dataSource]="itinerary.cover" [slider]="true" [sliderInterval]="5000"></vtb-media>
</div>

<div class="map">
    <div class="titles">
        <h1>Bestemming</h1>
        <h3>Dit is waar jullie je bucket list gaan legen:</h3>
    </div>

    <agm-map [latitude]="itinerary.segments[0].maps.latitude" [longitude]="itinerary.segments[0].maps.longitude"></agm-map>
</div>

<div class="program" data-block="program">
    <div class="titles">
        <h1>Programma</h1>
        <h3>Lees hieronder het programma van dag tot dag</h3>
    </div>

    <vtb-segments [dataSource]="itinerary.segments" [unitIds]="[2,3,4,14]" [reverseUnitIds]="false" [segmentFields]="['media', {name: 'day', prefix: 'Dag ', tag: 'h3'}, {name: 'title', tag: 'h4'},{name: 'subTitle', tag: 'h5'},{name: 'content', tag: 'p'}]"></vtb-segments>
</div>

<div class="accommodations circled-images" data-block="accommodations">
    <div class="titles">
        <h1>Accommodaties</h1>
        <h3>In onderstaande accommodaties zullen jullie verblijven (indien beschikbaar)</h3>
    </div>

    <vtb-elements [dataSource]="itinerary.segments" [unitIds]="[2]" [reverseUnitIds]="false" [elementFields]="[{name: 'media', max: 1},{name:'title',tag:'h5'},{name:'subTitle',tag:'h6'}]"></vtb-elements>
</div>

<div class="overview">
    <div class="titles">
        <h1>Investering</h1>
        <h3>
            <em>Because, emptying your bucket list with Bohemian Birds is priceless. Consider this as an investment:</em>
        </h3>
        <p>€4.420,- per persoon, gebaseerd op een reis voor 10 personen.</p>
        <p>
            Prijs is afhankelijk van het aantal personen, de reisduur, de reisperiode en is onder voorbehoud van beschikbaarheid bij bevestiging.<br>
            <strong>Inclusief </strong>internationale vliegtickets.<br>
            <strong>Inclusief</strong> binnenlandse vliegtickets.
        </p>
    </div>
    
    <div class="lists">
        <div>
            <h3>Inclusief</h3>
            <ul>
                <li>Internationale vliegtickets&nbsp;(± €1.240,-)&nbsp;:<br>Amsterdam - Guatemala City<br>Cancun - Medellin<br>Cartagena - Amsterdam</li>
                <li>Binnenlandse vliegtickets: Medellin - Santa Marta (± EUR 50,- p.p.)</li>
                <li>Transfers van en naar het vliegveld</li>
                <li>Transfers van en naar de accommodaties</li>
                <li>Transfers van en naar bovengenoemde activiteiten</li>
                <li>Maaltijden zoals per dag beschreven, op de volgende manier (Ontbijt/Lunch/Diner)</li>
                <li>Sterrenlunch bij&nbsp;<strong><a target="_blank" href="https://www.tempocancun.com/">Restaurant Tempo By Martin Berasategui</a>!</strong></li>
                <li>Een aantal unieke diners</li><li>1 x privé chef bij jullie privé villa</li>
                <li>1 x privé chef bij jullie privé penthouse</li>
                <li>24 overnachtingen in bovenstaande accommodaties (indien beschikbaar)</li>
            </ul>
        </div>
        <div>
            <h3>Exclusief</h3>
            <ul>
                <li>Niet genoemde maaltijden/drankjes</li>
                <li>Niet genoemde entrees</li>
                <li>Niet genoemde activiteiten</li>
                <li>Fooien</li>
                <li>Persoonlijke uitgaven</li>
                <li>Verzekeringen</li>
            </ul>
        </div>
    </div>
</div>

<div class="consultants circled-images">
    <div class="titles">
        <h1>Bucket List Consultants</h1>
        <h3>Bohemian Birds helpt jou bij het legen van je bucket list!</h3>
    </div>
    
    <div class="consultants-overview">
        <div class="consultant">
            <div class="consultant-image">
                <img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_fill,fl_lossy,h_320,w_320,f_auto,g_faces:auto,q_auto/v1/457961/16178890_1508135002548505_2952210858714519187_o-1_uzo79b.jpg" alt="">
            </div>

            <h4>Harm Ligtenberg</h4>
            <h5>Bucket List Consultant</h5>
            <h6>+31 20 261 36 17<br>info@bohemianbirds.com</h6>
        </div>
        <div class="consultant">
            <div class="consultant-image">
                <img src="http:////res.cloudinary.com/hrscywv4p/image/upload/c_fill,fl_lossy,h_320,w_320,f_auto,g_faces:auto,q_auto/v1/457961/13495263_1480645608628051_1917530845204919790_n_cxmzhv_ly5bh9.jpg" alt="">
            </div>

            <h4>Michiel Stoffels</h4>
            <h5>Bucket List Consultant</h5>
            <h6>+31 20 261 36 17<br>info@bohemianbirds.com</h6>
        </div>
    </div>
</div>

<div class="social-media">
    <div class="titles">
        <h1>Wil je meer weten over Bohemian Birds?</h1>
        <h3>Neem dan contact met ons op!</h3>
    </div>

    <div class="socials">
        <div>
            <img src="https://uploads.strikinglycdn.com/static/icons/blue/fb-icon.png" alt="">
        </div>
        <div>
            <img src="https://assets.strikingly.com/static/icons/brown/instagram-icon.png" alt="">
        </div>
        <div>
            <img src="https://uploads.strikinglycdn.com/static/icons/green/whatsapp-icon.png" alt="">
        </div>
        <div>
            <img src="https://uploads.strikinglycdn.com/page/images/icons/email-icon.png" alt="">
        </div>
    </div>
</div>

<div class="footer">
    <p>Bohemian Birds BV's Boekingsvoorwaarden zijn van toepassing op dit voorstel. De Boekingsvoorwaarden kunnen <a target="_blank" href="https://uploads.strikinglycdn.com/files/8e326a73-10bf-42ba-a1d1-02e0e6e375b2/Terms and Conditions Bohemian Birds BV - 0316v2.pdf">hier</a> gevonden worden en op onze <a target="_blank" href="http://bohemianbirds.com/wp-content/uploads/Terms-and-Conditions-Bohemian-Birds-BV-0316v2.pdf">website</a>. Zorg dat je de Boekingsvoorwaarden hebt gelezen voordat je deze reis boekt. Wanneer je je boeking bij ons bevestigd gaan wij er van uit dat je de voorwaarden hebt gelezen en begrepen.</p>
</div>