/*
CSS for example two

:host needs to be set to keep the CSS only working for this Component
::ng-deep is used to also apply the styling to underlying components

When copying this example to the styles.css sheet, you have to remove :host and ::ng-deep

*/

:host {
  background: red;
}
:host ::ng-deep h2 {
  color: green
}
:host ::ng-deep h3 {
  color: green
}
