/*********************
 *                   *
 *       RESET       *
 *                   *
 *********************/

body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6,ul,ol {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

p {
  line-height: 1.45;
  font-size:14px;
}


/*********************
 *                   *
 *       GRID        *
 *                   *
 *********************/



 app-template {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.menu {
  grid-column: span 12;
  height: 24vh;
  display: grid;
}

  .menu img:first-child {
    height: 13vh;
    justify-self: center;
  }

.header {
  grid-column: span 12;

  display: grid;
  grid-auto-rows: 76vh;
  grid-template-columns: repeat(12, 1fr);
}

  .header > vtb-media {
    grid-area: 1 / 1 / span 1 / span 12;
  }

  .header .header-text {
    grid-area: 1 / 1 / span 1 / span 12;
  }

.map {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

  .map .titles {
    grid-column: span 12;
  }

  .map agm-map {
    grid-area: 2 / 4 / span 1 / span 6;
  }

.program {
  grid-column: 4 / span 6;
}

  .program vtb-segment {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 30px 30px 30px auto auto;
    column-gap: 20px;
  }

  .program vtb-segment .media {
    grid-column: 1 / span 4;
    grid-row: 1 / -1;
  }

  .program vtb-segment .media img {
    width: 100%;
  }

  .program vtb-segment:nth-child(even) .media {
    grid-column: 9 / span 4;
  }

  .program vtb-segment .day,
  .program vtb-segment .title,
  .program vtb-segment .subTitle,
  .program vtb-segment .content {
    grid-column: 5 / -1;
  }

  .program vtb-segment:nth-child(even) .day,
  .program vtb-segment:nth-child(even) .title,
  .program vtb-segment:nth-child(even) .subTitle,
  .program vtb-segment:nth-child(even) .content {
    grid-column: 1 / span 8;
  }

  .program vtb-segment.no-media .day,
  .program vtb-segment.no-media .title,
  .program vtb-segment.no-media .subTitle,
  .program vtb-segment.no-media .content {
    grid-column: 1 / -1;
  }

  .program vtb-segment .day {
    grid-row: 1 / span 1;
  }

  .program vtb-segment .title {
    grid-row: 2 / span 1;
  }

  .program vtb-segment .subTitle {
    grid-row: 3 / span 1;
  }

  .program vtb-segment .content {
    grid-row: 4 / span 1;
  }

.accommodations {
  grid-column: 4 / span 6;
}

  .accommodations .titles {
    grid-column: span 12;
  }

  .accommodations vtb-elements {
    display: grid;
    column-gap: 20px;

    grid-template-columns: repeat(4, 1fr);
  }

  .accommodations vtb-element {
    grid-row: span 3;
  }

.overview {
  display: grid;
  grid-column: 1 / span 12;
  grid-template-columns: repeat(12, 1fr);
}

.overview .titles {
  grid-column: 1 / span 12;
}

  .overview .lists {
    grid-column: 4 / span 6;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

.consultants {
  grid-column: 4 / span 6;
}

  .consultants-overview {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
  }

    .consultants-overview .consultant {
      grid-column: span 3;
    }

    .consultants-overview .consultant:first-child {
      grid-column: 4 / span 3;
    }

.social-media {
  grid-column: 4 / span 6;
}
  .socials {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .socials div {
    text-align: center;
    grid-column: span 3;
  }

.footer {
  grid-column: 4 / span 6;
}


/* Mobile */
@media only screen and (max-width: 600px) {
  .map agm-map {
    grid-column: 1 / span 12;
  }

  .program {
    grid-column: 1 / -1;
  }

    .program vtb-segment {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(6, auto);
    }

    .program vtb-segment .day,
    .program vtb-segment .title,
    .program vtb-segment .subTitle,
    .program vtb-segment .content {
      grid-column: 2 / span 10 !important;
    }

    .program vtb-segment .media {
      grid-column: 1 / span 12 !important;
      grid-row: 1 / 3 !important;
    }

    .program vtb-segment .day {
      grid-row: 3 / span 1;
    }

    .program vtb-segment .title {
      grid-row: 4 / span 1;
    }

    .program vtb-segment .subTitle {
      grid-row: 5 / span 1;
    }

    .program vtb-segment .content {
      grid-row: 6 / span 1;
    }

    .overview .lists {
      grid-column: 2 / 12;
      grid-template-columns: repeat(1, 1fr);
    }
}






/*********************
 *                   *
 *    BEAUTIFYING    *
 *                   *
 *********************/

 @media only screen and (max-width: 600px) {

  .titles h1 {
    font-size: 1.4em;
  }

  .titles h3 {
    font-size: 0.75em;
  }

  .titles h1:before,
  .titles h1:after {
    width: 60px !important;
  }

  .titles h1:before {
    left: -80px !important;
  }

  .titles h1:after {
    right: -80px !important;
  }

}

/* Texts */
h1 {
  color: #2d2d2c;
  font-size: 1.8em;
  text-transform: uppercase;
}

.titles {
  text-align: center;
  margin-bottom: 30px;
}

.titles h1 {
  position: relative;
  display: inline-block;
  font-size:2em;
}

.titles h1:before,
.titles h1:after {
  content: " ";
  display: inline-block;
  height: 2px;
  margin: 0 10px;
  top: 50%;
  width: 80px;
  zoom: 1;
  position: absolute;
  background-color: #2d2d2c;
}

.titles h1:before {
  left:-100px;
}

.titles h1:after {
  right:-100px;
}

.titles h3 {
  color: #0f4a62;
  font-weight: 100;
  line-height: 2em;
}

.titles p {
  font-size:1.17em;
  font-weight: 100;
  letter-spacing: -1px;
}

/* Menu */

.menu {
  position: relative;
  box-shadow: 1px 1px 3px rgba(0,0,0,.3);
}

.menu.sticky {
  position: fixed;
  top:-15vh;
  left:0;
}

.menu .logo {
  max-width: 100%;
  max-height: 150px;
}

.menu:after {
  content: " ";
  display: block;
  background-color: #fff;
  border-radius: 3em;
  width: 2em;
  position: absolute;
  height: 2em;
  bottom:-1.5em;
  left:50%;
  margin-left: -1.5em;
  background-size:contain;
  background-origin: content-box;
  background-repeat:no-repeat;
  padding:.5em;
  box-shadow: -1 2px 3px rgba(0,0,0,.3);
  background-image:url(http://res.cloudinary.com/hrscywv4p/image/upload/c_fill,f_auto,g_faces:center,h_64,q_90,w_64/v1/457961/e082290856f649f199738d3f36d0dee3_mwiigx.jpg);
}

.menu:after {
  -webkit-animation:spin .4s linear;
  -moz-animation:spin .4s linear;
  animation:spin .4s linear;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.menu vtb-menu {
  text-align: center;
}

  .menu vtb-menu ul {
    margin: 0;
    padding: 0;
    display: inline-block;
  }

    .menu vtb-menu ul li {
      float: left;
      list-style: none;
      margin: 0 20px;
      line-height: 10vh;
    }

    .menu vtb-menu ul li button {
      color:#678;
      text-decoration: none;
      font-weight:100;
      text-transform: uppercase;
      border:none;
      background:none;
      cursor:pointer;
      font-size:1.1em;
    }

    .menu vtb-menu ul li button:focus {
      border:none;
      outline:none;
    }

/* Header */
.header {
  text-align: center;
  overflow: hidden;
}
  
  .header > vtb-media {
    z-index:-1;
    position:relative;
  }

  vtb-media > div {
    position: static !important;
  }
  
  .header vtb-media > div {
    position: absolute !important;
    width: 100%;
    top:-50%;
    left:0;
  }
  
  .header img {
    display: block;
    object-fit: cover;
  }
  
  .header .header-text {
    align-self: center;
    margin: 0;
  }
  
    .header vtb-text h1,
    .header vtb-text h2 {
      color: #fff;
      text-shadow: 0 1px 2px rgba(0,0,0,.2);
      line-height:2em;
    }

    .header vtb-text h1 {
      font-size:2.8em;
    }

    .header vtb-text h2 {
      font-size:2em;
    }
  
    .header .header-text h1:before,
    .header .header-text h1:after,
    .overview .titles h1:before,
    .overview .titles h1:after {
      background-color: #fff;
    }

.map,
.program,
.overview,
.consultants {
  padding: 80px 0;
}

.accommodations {
  padding-bottom:80px;
}

/* Map */
.map {
  background-image:url(http://uploads.strikinglycdn.com/static/backgrounds/patterns/31.jpg);
}

  .map agm-map {
    height: 426px;
  }


/* Program */
.program vtb-segment {
  margin-bottom: 40px;
}

.program vtb-segment .day {
  color:#2d2d2c;
  font-size: 1.2em;
}

.program vtb-segment .title h4 {
  color:#0f4a62;
  font-weight: bold;
}


.program vtb-segment .content p {
  text-align: justify;

  line-height: 1.45;
  color: #50555c;
}

/* Accommodations */

.accommodations {
  text-align:center;
}

.consultants h4 {
  font-size:1.4em;
}

.accommodations h5,
.consultants h5 {
  color: #0f4a62;
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px 0;
}

.accommodations h6,
.consultants h6 {
  font-size: 1.1em; 
  color:#50555c;
}

.circled-images vtb-media,
.circled-images .consultant-image {
  display: block;
	position: relative;
	width: 100%;		/* desired width */
  overflow: hidden;
  border-radius: 100%;
}

.circled-images vtb-media:before,
.circled-images .consultant-image:before {
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}

.circled-images img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  object-fit: cover;
  top: 0;
}

/* Overzicht */
.overview {
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url(https://images.unsplash.com/photo-1456425731181-2152d80d946c?h=1500&w=2000&fit=clip&fm=jpg);
  background-attachment: fixed;
}

  .overview h1,
  .overview h3,
  .overview .titles p {
    color: #fff;
  }

  .overview .lists {
    column-gap:25px;
  }


  
.lists div {
  border: 2px solid hsla(0,0%,100%,.7);
  box-shadow: 0 1px 1px rgba(0,0,0,.2);
  padding:20px 22px;
}

.lists ul {
  margin-top: 20px;
  margin-left: 20px;
  font-size:.9em;
}

.lists div ul li,
.lists div ul li a {
  color: #fff;
}

.consultants {
  text-align:center;
}

.consultant > .consultant-image {
  margin-bottom: 20px;
}

.footer {
  text-align: center;
}